:root {
  --border-radius-500: 8px;
  --color-on-background: #ffffff;
  --fonts-primary: Karla, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #2a385c;
  background-image: linear-gradient(320deg, hsl(215, 10%, 12%) 0%
      /* down */
      , hsl(215, 19%, 24%)
      /* up */
      100%);
  font-family: var(--fonts-primary);
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}

.layout__wrapper {
  background-image: linear-gradient(0deg, hsl(215, 14%, 16%) 0%, hsl(215, 19%, 29%) 100%);
  border-radius: 3px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, .25);
  margin: 3rem auto;
  max-width: 370px;
}

.app-bar {
  border-radius: 3px;
}

.app-bar__title {
  color: var(--color-on-background);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.list {
  list-style: none;
  margin: 0;
  min-height: 1.5rem;
  padding: 0;
  position: relative;
}

.list__item {}

.card {
  background-color: hsl(215, 14%, 37.5%);
  border-radius: var(--border-radius-500);
  cursor: pointer;
  color: hsl(228, 19%, 98%);
  padding: .66rem 1rem;
  position: relative;
}

.list__item+.list__item {
  margin-top: .5rem;
}

.holder {
  padding: 1rem 1.5rem;
}

.holder__title {
  background-color: #1da5f9;
  background-image: linear-gradient(90deg, #028ce1 0%, #6acbe0 100%);
  border-radius: var(--border-radius-500);
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
}

.holder--tint-2 .holder__title {
  background-image: linear-gradient(90deg, #2fd4bd 0%, #66e887 100%);
}

.holder--tint-3 .holder__title {
  background-image: linear-gradient(90deg, #fe8080 33%, #fea380 100%);
}